<div class="container-fluid px-4">
    <div class="card mt-4"></div>
    <div class="card-header d-flex justify-content-between">    </div>
    <h2 class="font-weight-bold bg-light pt-3 pb-3 pl-3 mb-4 rounded shadow-sm">환경 재단 정보</h2>
   
    <div class="card text-center">
        <div class="bg-light shadow-sm pb-4 mb-2" style="border-radius: 10px; width: 100%; height: auto;">
            <a class="" href="https://happybean.naver.com/">
                <img class="mt-4 mb-4" src="images/happy.png" style="width: 180px; height: 100px;"/></a><br>
                <span class="mt-4 h6 text-secondary ">일상의 작은 관심이 더 나은 세상을 만듭니다. <br>기부, 펀딩, 공익체험, CSR 캠페인</span>
                <br>
                <span class="mb-4 mt-4 h6 text-secondary ">이 모든 공익활동들을 한 자리에서 만나보세요.</span>
            
        </div>

        <div class="bg-light shadow-sm pb-4 mt-2 mb-2" style="border-radius: 10px; width: 100%; height: auto;">
            <a class="" href="http://www.greenfund.org/">
                <img class="mt-4 mb-4" src="images/green.png" style="width: 180px; height: 200px;"/></a><br>
                <span class="mt-4 h6 text-secondary ">환경재단은 아시아의 환경을 지키기 위해 
                    <br>시민사회/정부/기업과 손잡고
                    <br>기후·환경문제 해결을 주도하는 
                    <br>아시아의 그린허브입니다.</span>
            
        </div>

        <div class="bg-light shadow-sm pb-4 mt-2 mb-4" style="border-radius: 10px; width: 100%; height: auto;">
            <a class="" href="https://www.worldwildlife.org/">
                <img class="mt-4 mb-4" src="images/wwf.png" style="width: 170px; height: 240px;"/></a><br>
                <span class="mt-4 h6 text-secondary ">A FUTURE FOR PEOPLE AND NATURE
                     <br>Together we can challenge the threats to nature, and help ensure its ability to provide
                     <br>—for the sake of every living thing, 
                     <br>including ourselves.</span>
                <br>
        </div>
    </div>
</div>


