//- extends layout

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styletest_mcategory.css')
    
  body
    header 
        div.logo 
            a(href='http://localhost:3000/test_mmain') pamlogo
        div.profile 
            a(href='http://localhost:3000/test_mprofile') profile
    main
        block content
            div.card
                div.card-body
                    div.data 데이터 통계 관제
                .card-footer