//- extends layout

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styletest_mmain.css')
    
  body
    header 
        div.logo 
            a(href='http://localhost:3000/test_mmain') pamlogo
        div.profile 
            a(href='http://localhost:3000/test_mprofile') profile
    main
        block content
            div.card
                div.card-body
                    div.data 
                        a(href='http://localhost:3000/test_mdata') 데이터 통계 관제
                    div.admsg 
                        a(href='http://localhost:3000/test_madmsg') 관리자메세지
                    div.eninfo 
                        a(href='http://localhost:3000/test_meninfo') 환경정보 크롤링 항목
                .card-footer