//- extends layout

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styletest_category_data.css')
    script.
        function
    
  body
    header 
        div.logo 
            a(href='http://localhost:3000/test_main') pamlogo
        div.profile profile
    main
        block content
            div.card-menu
                form.signupform(action='/signup', method='POST')
                    nav.menu
                        ul.navi 카테고리
                            li
                                a(href='http://localhost:3000/test_data') 데이터 통계
                            li
                                a(href='http://localhost:3000/test_eninfo') 환경정보
                            li 
                                a(href="http://localhost:3000/test_userint")  사용자 웹 설정
            div.card
                div.card-body
                    div.data 데이터 통계 관제
                .card-footer