//- extends layout

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styletest_msignup.css')
  body
    header 
            div.logo 
                a(href='http://localhost:3000/test_mmain') pamlogo
    main
        block content
            .card.text-center
                .card-header
                    h1= title
                .card-body
                    form.loginform(action='/login', method='POST')
                        div.id-area
                            label(for='id')
                            br
                            input(type='id', name='id', placeholder='아이디', required='')
                        div.pw-area
                            label(for='password')
                            br
                            input(type='password', name='password', placeholder='비밀번호', required='')
                        button.btn LOGIN!
                        button.btn_sign 
                            a(href="http://localhost:3000/test_msignup")  SignUp