<div class="container">
  <h1 style="font-weight: bold;margin-bottom: 30px;">데이터통계</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
      <a href="/" style="color: #78d843;">DASHBOARD</a>
    <li class="breadcrumb-item active">데이터통계</li>
    </li>
  </ol>
</div>

<div class="row text-center">
  <div class="col-sm-12">
    <div class="thumbnail">
      <p><strong>Today Data</strong></p>
      <iframe width="450" height="260" style="border: 1px solid #cccccc; "
        src="https://thingspeak.com/channels/1350261/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=125&title=eCO2+%5Bppm%5D&type=line"></iframe>
    </div>
  </div>
</div>