<% include ../partials/header %>
  <div class="container">
    <h1 style="font-weight: bold;margin-bottom: 30px;">사용자설정</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item">
        <a href="/" style="color: #78d843;">DASHBOARD</a>
        <li class="breadcrumb-item active">사용자설정</li>
      </li>
    </ol>
  </div>
  
<% include ../partials/scripts %>

